.header {
    background: #ffff; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    height: 90px;
}

.header > div > h2 {
    color: black;
    font-weight: 700;
}

.navContainer {
    display: flex;
    align-items: center;
    text-align: center;
}

.navContainer a {
    margin-right: 30px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        height: auto; 
        padding: 5%; 
    }

    .navContainer {
        flex-direction: column; 
        margin-top: 2.5%; 
    }

    .navContainer a {
        margin: 10px 0; 
    }
}